@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: 'Inconsolata', monospace;
}

.screen {
	width: 100vw;
	height: 100vh;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	transition: .2s;
}

.logo {
	max-width: 60%;
}

.controls {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

.dark-mode {
	display: none;
}

.dark-mode-button {
	position: relative;
	content: '';
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 5px solid #ddd;
	border-radius: 50px;
	color: #b43528;
	text-shadow:	1px 1px 0px #c1392b,
					0px 1px 0px #c1392b,
					1px 0px 0px #c1392b,
					-1px -1px 0px #a23024,
					0px -1px 0px #a23024,
					-1px 0px 0px #a23024,
					-1px 1px 0px #a23024;
	background-color: #c44538;
	box-shadow:	2px 2px 5px #bcbcbc,
				-2px -2px 5px #fefefe;
}

.dark-mode:checked ~ .screen {
	background-color: #111;
}

.dark-mode:checked ~ .controls .dark-mode-button {
	border: 5px solid #111;
	color: #00906A;
	text-shadow:	1px 1px 0px #009a71,
					0px 1px 0px #009a71,
					1px 0px 0px #009a71,
					-1px -1px 0px #00825f,
					0px -1px 0px #00825f,
					-1px 0px 0px #00825f,
					-1px 1px 0px #00825f;
	background-color: #10a07A;
	box-shadow: 2px 2px 5px #070707,
				-2px -2px 5px #1b1b1b,
				-5px -5px 2px #11ab83 inset,
				5px 5px 2px #0e906e inset;
}