<nav>
    <ul>
        <li link="home">
            <span>&#xf015;</span> Home
        </li>
        <li link="plan">
            <span>&#xf5ae;</span> Planning
        </li>
        <li link="do">
            <span>&#xf5fd;</span> Backlog
        </li>
        <li link="doing">
            <span>&#xf807;</span> Working
        </li>
        <li link="done">
            <span>&#xf00c;</span> Finished
        </li>
        <li link="add">
            <span>&#x2b;</span> New
        </li>
    </ul>
</nav>