<div class="icon-bar">
    <nav>
        <ul>
            <li link="home">
                <span>&#xf015;</span> Home | Menu
            </li>
            <li link="do">
                <span>&#xf5fd;</span> Backlog | Do
            </li>
            <li link="doing">
                <span>&#xf04b;</span> Playing | Doing
            </li>
            <li link="done">
                <span>&#xf00c;</span> Finished | Done
            </li>
            <li link="add">
                <span>&#x2b;</span> New | Add
            </li>
        </ul>
    </nav>
</div>