<div class="icon-bar">
    <nav>
        <ul>
            <li>
                <span>&#xf015;</span> Home | Menu
            </li>
            <a href="#do"><li>
                <span>&#xf5fd;</span> Backlog | Do
            </li></a>
            <a href="#doing"><li>
                <span>&#xf04b;</span> Playing | Doing
            </li></a>
            <a href="#done"><li>
                <span>&#xf00c;</span> Finished | Done
            </li></a>
            <li>
                <span>&#x2b;</span> New | Add
            </li>
        </ul>
    </nav>
</div>