<form>
    <select name="tag" required>
        <option value="" disabled selected>Selecione uma tag</option>
        <option value="spike">Aprender</option>
        <option value="propose">Propor</option>
        <option value="decide">Decidir</option>
        <option value="buy">Comprar</option>
        <option value="build">Montar</option>
        <option value="fix">Consertar</option>
        <option value="change">Mudar</option>
        <option value="chore">Tarefa</option>
        <option value="clean">Limpar</option>
    </select>
    <input type="text" name="title" placeholder="Título" required />
    <fieldset class="radio-group" aria-required="true">
        <legend>Responsavel</legend>

        <input type="radio" name="user" id="bia" value="bia" required />
        <label for="bia">Bia</label>

        <input type="radio" name="user" id="duran" value="duran" />
        <label for="duran">Duran</label>
    </fieldset>
    <input type="datetime" name="target" placeholder="Data" />
    <input type="number" name="priority" placeholder="Prioridade (1-5)" min="1" max="5" />
    <button type="submit">Adicionar</button>
</form>